{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Main Section -->
    <section class="our_team" id="our_team">
      <div class="container border-b">
        <div class="m-title text-center">
          <h2>FOUNDERS</h2>
        </div>
        <div class="row event">
          {% for founder in founders %}
            <div class="col-md-6 col-lg-4 team">
              <div class="border-t">
                <div class="title-t text-center">
                  <h3>{{ founder.name }}</h3>
                  <p>{{ founder.position }}</p>
                  <p>
                    <a href="mailto:{{ founder.email }}" class="social-link" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-envelope mx-2 h4"></i></a>
                    <a href="{{ founder.linkedin }}" class="social-link" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin mx-2 h4"></i></a>
                    <a href="{{ founder.twitter }}" class="social-link" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-twitter mx-2 h4"></i></a>
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
{% endblock content %}