/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  transition: color 0.3s;
}

a:hover {
  color: #ff6b6b;
}

/* img {
  transition: transform 0.3s;
}

img:hover {
  transform: scale(1.05);
} */

.custom-mt-10 {
  margin-top: 10rem;
}

.custom-mt-15 {
  margin-top: 15rem;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel-item {
  scroll-snap-align: center;
}

.gallery-swiper {
  overflow: visible;
}

.gallery-swiper .swiper-slide {
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 640px) {
  .gallery-swiper .swiper-slide {
    padding-right: 0;
  }
}

@media (min-width: 641px) {
  .gallery-swiper .swiper-slide {
    padding-right: 10px;
  }
}

@media (min-width: 1024px) {
  .gallery-swiper .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .gallery-swiper .swiper-slide {
    width: 100% !important;
    margin-right: 0 !important;
    padding-right: 0;
  }
  .gallery-swiper .swiper-pagination {
    display: none;
  }
}

.swiper-slide {
  width: 85%;
}
.swipe-indicator {
  width: 30px;
  height: 30px;
  margin: 20px auto 0;
  position: relative;
}
.swipe-indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-right: 2px solid rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  transform: translate(-75%, -50%) rotate(-45deg);
}
